body {
    font-family: 'Arial', sans-serif;
    background-color: #142433; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;;
    width: 100%;
}

header h1 {
    color: #89373d;
    font-size: 50px;
    margin-bottom: 10px;
}

header p {
    color: #bd2f28;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #295264;
    padding: 10px 20px;
    width: 100%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    margin: 0 5px;
    transition: color 0.3s;
}

nav a:hover {
    color: #bd2f28;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin-top: 30px;
    text-align: center;
}

.container h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Cartões de eventos */
.eventos-destaque {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.evento-card {
    background-color: #ffffff;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.evento-card h3 {
    color: #89373d;
    font-size: 25px;
    margin-bottom: 10px;
}

.evento-card p {
    color: #142433;
    font-size: 18px;
    margin: 5px 0;
}

.evento-card:hover {
    transform: scale(1.02);
}

button {
    background-color: #89373d; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 20px;
    margin-top: 20px;
}

button:hover {
    background-color: #bd2f28; 
} 