/* processarContato.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #142433; /* Cor de fundo escura */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

nav {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #295264; /* Cor do fundo do menu */
    padding: 10px 20px; 
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para o menu */
}

nav a {
    color: #ffffff; /* Cor do texto do menu */
    text-decoration: none; 
    font-size: 20px; /* Tamanho da fonte */
    padding: 10px 15px; 
    margin: 0 10px; /* Margem entre os links */
    transition: color 0.3s; /* Transição suave ao passar o mouse */
}

nav a:hover {
    color: #bd2f28; /* Cor ao passar o mouse */
}

h1 {
    color: #ffffff; /* Cor do título principal */
    margin: 20px 0; /* Margem acima e abaixo */
    text-align: center; 
}

h2 {
    color: #89373d; /* Cor do subtítulo */
    margin-top: 20px; 
    text-align: center; /* Centraliza o subtítulo */
}

.container {
    background-color: #ffffff; /* Cor de fundo da descrição */
    color: #142433; /* Cor do texto */
    border-radius: 10px; 
    padding: 30px; 
    width: 100%; 
    max-width: 600px; /* Limita a largura máxima */
    margin: 20px auto; /* Centraliza o container */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para o container */
}

.input-box {
    background-color: #f9f9f9; /* Cor de fundo dos inputs */
    border: 1px solid #d1d1d1; /* Borda dos inputs */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 15px; /* Preenchimento interno */
    margin-bottom: 15px; /* Espaçamento entre os quadros */
    font-size: 16px; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
}

.input-box strong {
    color: #142433; /* Cor do texto em negrito */
}

p {
    color: #142433; /* Cor do texto do parágrafo */
    margin-bottom: 15px; 
    text-align: center; /* Centraliza o texto */
    font-size: 18px; /* Tamanho da fonte */
}